## Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
ENV/
.env
.env.*
!.env.example
!**/.env.example

## SQLite
*.db

## Node
node_modules/
dist/
.vite/
.vite-cache/

## OS / Editor
.DS_Store
Thumbs.db
